/*背景顏色部分*/
body {
    height: 900px;
    background: #FFF0F5
}
/*背景左圖片部分*/
.gallery_left {
    position: relative;
    width: 550px;
    height: 700px;
    float: left;
}
/*背景右圖片部分*/
.gallery_right {
    position: relative;
    width: 40%;
    height: 700px;
    float: right;
    background-image: url('picture03.png') ;
}
/*白色背景重疊部分*/
#m{
    position: absolute;
    top: 34px;
    left : 83px;
    background: rgb(255, 255, 255);
    /*游標跑到畫布的時候會變圖片*/
    cursor: url('picture04.jpg'),auto;
}

#brush {
    width: 50px;
    height: 50px;
    background: transparent;
    transition: background 0.3s;
    box-shadow: none;
    border: 0px ;			
}
#eraser {
    width: 50px;
    height: 50px;
    background: transparent;
    transition: background 0.3s;
    box-shadow: none;
    border: 0;			
}
#text {
    width: 50px;
    height: 50px;
    background: transparent;
    color: white;
    font-size: 22px;
    transition: background 0.1s;
    box-shadow: none;
    border: 0;			
}
#circle {
    width: 50px;
    height: 50px;
    background: transparent;
    color: white;
    font-size: 22px;
    transition: background 0.1s;
    box-shadow: none;
    border: 0;			
}
#rectangle {
    width: 50px;
    height: 50px;
    background: transparent;
    color: white;
    font-size: 22px;
    transition: background 0.1s;
    box-shadow: none;
    border: 0;			
}
#triangle {
    width: 50px;
    height: 50px;
    background: transparent;
    color: white;
    font-size: 22px;
    transition: background 0.1s;
    box-shadow: none;
    border: 0;			
}
#download {
    width: 50px;
    height: 50px;
    background: transparent;
    color: white;
    font-size: 22px;
    transition: background 0.1s;
    box-shadow: none;
    border: 0;			
}
#upload {
    position: absolute;
    top: 500px;
    left : 15px;
    width: 50px;
    height: 50px;
    background: transparent;
    color: white;
    font-size: 22px;
    transition: background 0.1s;
    box-shadow: none;
    border: 0;			
}
#undo {
    position: absolute;
    top: 500px;
    left : 15px;
    width: 200px;
    height: 200px;
    background: transparent;
    color: white;
    font-size: 22px;
    transition: background 0.1s;
    box-shadow: none;
    border: 0;			
}
#redo {
    position: absolute;
    top: 500px;
    left : 380px;
    width: 200px;
    height: 200px;
    background: transparent;
    color: white;
    font-size: 22px;
    transition: background 0.1s;
    box-shadow: none;
    border: 0;			
}
#refresh {
    width: 50px;
    height: 50px;
    background: transparent;
    color: white;
    font-size: 22px;
    transition: background 0.1s;
    box-shadow: none;
    border: 0px;			
}
